#footerBgColor{
   background-color: #d2cece;
}

#HeadingBG{
background-color: blue;
}

.tableResult{
display: none;
}


h5{
   font-weight: bold;
}


.table, .table td { 
   border-top: none !important; 
   
}

header{
   background-color:#cccccc;;
   
}

.table-alignment{
   margin:auto;
   width: 80%;
   padding: 10px;
}

footer{
   background-color: #cccccc;
}